.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 375px;
    margin: 3rem;
}

.card-image{
    max-height: 250px;
    max-width: 200px;
}

.card-actions{
    display: flex;
    align-items: end;
}

mat-cart-content{
    word-wrap: break-word;
}