.header-icon{
    padding: 1, 4, 0, 2;
}

.header-icon:hover{
    cursor: pointer;
}

.header-spacer{
    flex: 1 1 auto;
}

.header-buttons{
    display: flex;
    align-items: center;
}

.header-buttons>a{
    margin-left: 10px;
    text-decoration: none;

}

.active-link{
    background-color: white;
    color: #673ab7 !important;
    border-radius: 5px;
    padding: 5px;

}